---
import Layout from "../layouts/Layout.astro";
---
<!-- Esta pagina se muestra en caso de que el usuario vaya a una ruta inexistente -->

<Layout title = "Error 404">
<h1>
    Ruta no existente
</h1>
</Layout>
