---
import MainLayout from "../layouts/MainLayout.astro" //se puede poner plantilla ( lo que sea)en vez de MainLayout
// import Footer from "../components/Footer.astro";
const reponse = await fetch('https://rickandmortyapi.com/api/character') //trae los datos desde esa direccion el await es porque es asincrono *(nose)
const data = await reponse.json()
const characters = data.results
console.log(data)
---

<MainLayout> 
    <!-- se puede poner plantilla ( lo que sea)en vez de MainLayout -->
    <header><h1>ejemplo 2 con layout</h1></header>
    <ul>
    {
        characters.map(character => (
        <li>
            <h1>{character.name}</h1>
            <img src={character.image} class="image-profile"/>
        </li>
        ))
    }
    </ul>
    
</MainLayout>
<style lang="scss"> //super css es de sass (para hojas de estilo)
    header{
        h1{
            background:blue;
            color: whitesmoke;
            padding: 10px;
        }
    }
    .image-profile{
        width:100px;
        border-radius: 50%;
    }
</style>