---
import MainLayout from "../layouts/MainLayout.astro" //se puede poner plantilla ( lo que sea)en vez de MainLayout
import Footer from "../components/Footer.astro";
import Navbar from "../components/navbar.astro";
---

<MainLayout> 
    <Navbar title = "Ejemplo 1"/>
    <!-- se puede poner plantilla ( lo que sea)en vez de MainLayout -->
    <h1>ejemplo 1 con layout</h1>
    <Footer title="Footer en ejeuno"/> 
    <!-- el title es para que el footer reciba un parametro -->
</MainLayout>