---
import MainLayout from "../layouts/MainLayout.astro" //se puede poner plantilla ( lo que sea)en vez de MainLayout
---

<MainLayout> 
    <!-- se puede poner plantilla ( lo que sea)en vez de MainLayout -->
    <h1>ejemplo 1 con layout</h1>
</MainLayout>