---
const {title} = Astro.props 
// es basicamente un objeto, se guarda para que el valor de title pueda ir cambiando
---


<footer>
    <h1>{title}</h1> 
    <!-- las llaves son para que reciba un dato dinamico -->
</footer>